@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
    background-color: #f0f0f0;
    color: #292929;
    font-family: 'Syne Mono', monospace;
    font-size: 1.1rem;
    margin: 0 10%;
    padding: 0;
}

.navbar {
    overflow: auto;
    top: 0;
    width: 100%;
    margin: 2% -15px 0 -15px;
    -webkit-user-select:none;-moz-user-select:-moz-none;
    -ms-user-select:none;user-select:none
}

.navbar a {
    border: 1.5px solid transparent;
    border-radius: 10px;
    text-decoration: none;
    color: #292929;
    display: inline-block;
    padding: 15px 13px 15px 13px;
    box-sizing: border-box;
    margin: 15px;
}
.navbar a:hover {
    border: 1.5px solid #e0e0e0;
}
.clicked, .notclicked:active {
    background: #f0f0f0;
    box-shadow: inset 4px 4px 10px #dddddd,
            inset -4px -4px 10px #ffffff;
}
.notclicked {
    background: #f0f0f0;
    box-shadow: 4px 4px 10px #dddddd,
            -4px -4px 10px #ffffff;
}

main {
    margin: 3% 0 0 0;
}

.link {
    color: #292929;
}
.text {
    color: #292929;
}
.subtext {
    color: #7d7d7d;
    margin-left: 30px;
}
.image {
    border-radius: 10px;
    border: 0.5px solid #f0f0f0;
    background: #f0f0f0;
    box-shadow: 4px 4px 10px #dddddd,
            -4px -4px 10px #ffffff;
    max-width: 80%;
    max-height: 300px;
}

.small {
    font-size: 0.9rem;
}
.muted {
    color: #7d7d7d;
}
.primary {
    color: #005f85;
}

@media screen and (max-width: 450px) {
    body {
        margin: 0;
    }
    .navbar {
        text-align: center;
        margin: 2% 0 0 0;
    }
    main {
        margin: 3% 10%;
    }
}