@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@media screen and (max-width: 450px) {
    .navbar {
        text-align: center;
    }
}

body {
    background-color: #f0f0f0;
    color: #292929;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: auto;
    top: 0;
    width: 100%;
    -webkit-user-select:none;-moz-user-select:-moz-none;
    -ms-user-select:none;user-select:none
}

.navbar a {
    border: 1.5px solid transparent;
    border-radius: 10px;
    text-decoration: none;
    color: #292929;
    display: inline-block;
    padding: 15px 13px 15px 13px;
    box-sizing: border-box;
    margin: 15px 15px 15px 15px;
}
.navbar a:hover {
    border: 1.5px solid #e0e0e0;
}
.clicked, .notclicked:active {
    background: #f0f0f0;
    box-shadow: inset 4px 4px 10px #dddddd,
            inset -4px -4px 10px #ffffff;
}
.notclicked {
    background: #f0f0f0;
    box-shadow: 4px 4px 10px #dddddd,
            -4px -4px 10px #ffffff;
}

main {
    margin: 5% 10% 0 10%;
}

.link {
    color: #292929;
}
.text {
    color: #292929;
}
.subtext {
    color: #7d7d7d;
    margin-left: 30px;
}
.small {
    font-size: 0.8rem;
}
.timetable {
    color: #292929;
}